body{
	background-color: #DDF;
}
.header{
	background-color:#bbf;
	text-align: center;
	font-size:32px;
	border: 10px solid black;
	height: 5%;
	border-radius: 15px;

}

.miniTitle{
	text-align: center;
	text-decoration: underline;
	font-size: 25px;


}


.sidebar{
	background-color:#bbf;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1%;
	padding-bottom: 10px;
	border: 5px solid black;
	position: fixed;
	overflow: auto;
	width: 10%;
	border-radius: 15px;


}

.post{
	position: inherit;
	margin-left:15%;
	margin-bottom: 1%;
	border: 3px solid black;
	padding-top: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	border-radius: 15px;
	background-color: #BBF;
}

#firstPost{
	margin-top:3%
	background-color: #BBF;

}




.footer{
	text-align: center;
	border: 5px solid black;
	border-radius: 15px;
	padding-top: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-right: 25px;


}

#defaultButton{
	border: 3px solid black;
	background-color: #999;

}

#hackerButton{
	border: 3px solid green;
	background-color: #000;
	color: #0F0;
}
#liteButton{
	border: 0px solid white;
	transition-duration: 0.3s;
	background-color: #BBB;
}
#liteButton:hover{
	background-color: #AAC;
	border-radius: 8px;
}
#hackerButton{
        background-color: #000;
        color: #0F0;
        border: 3px solid green;
}
#hackerButton:hover{
        background-color: #0F0;
        color: #000;
}

#defaultButton{
        background-color: #999;
        border: 3px solid black
}

#defaultButton:hover{ 
        background-color: #777;
}

